{% extends 'main_na/layout.html' %}
{% block title %}{{ detailprofile.user.username }}{% endblock %}

{% block content %}
<div class="profile_about">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img src="{{ detailprofile.avatar.url }}" alt="" class="detail-avatar rounded-pill">
                </div>
                <div class="col-sm">
                    <p>Никнейм:</p><br>
                    <p>Имя:</p><br>
                    <p>Контакты:</p><br>
                    <p>О себе:</p><br>
                    <p>Жанры:</p><br>
                </div>
                <div class="col-sm">
                    <p>{{ detailprofile.user.username }}</p><br>
                    <p>{% if detailprofile.user.first_name %}{{ detailprofile.user.first_name }}{% else %}<br>{% endif %}</p><br>
                    <p>{% if detailprofile.contacts %}{{ detailprofile.contacts }}{% else %}<br>{% endif %}</p><br>
                    <p>{% if detailprofile.bio %}{{ detailprofile.bio }}{% else %}<br>{% endif %}</p><br>
                    <p>{% if detailprofile.jenres %}{{ detailprofile.jenres }}{% else %}<br>{% endif %}</p><br>
                </div>
            </div>
        </div>

    </div>
    <div class="profile_projects">
        {% for post in feed %}
            {% if post.author == detailprofile.user %}
                <div class="Post container rounded-pill">
                <div class="row content">
                    <div class="col-3">
                        <img src="{{ post.cover.url }}" alt="" class="song_cover">
                    </div>
                    <div class="col">
                        <div class="row">   <h3 class="song_title">{{ post.title }}</h3>   </div>
                        <div class="row">   <h3 class="song_author">{{ post.author.username }}</h3>     </div>

                        <div class="row">   <audio controls src="{{ post.audiofile.url }}" class='song_audio'></audio>  </div>
                    </div>
                </div>
                <div class="row content">

                    <div class="col-1 song_date">
                        <h5 class="song_date"> {{ post.date }} </h5>
                    </div>
                    <div class="col-11">
                        <h3 class="song_desc"> {{ post.desc }}</h3>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}

    </div>

{% endblock %}