{% extends 'main_na/layout.html' %}
{% block title %}Новая запись{% endblock %}
{% block content %}
    <div class="new_post">
        <h1>Добавить запись</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.desc }}<br>
            <label for="AudioInput" class="form-label">Загрузите трек</label>
            {{ form.audiofile }}<br>
            <label for="CoverInput" class="form-label">Загрузите обложку</label>
            {{ form.cover }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>

    </div>
{% endblock %}
