{% extends "main_na/layout.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <div class="register">
        <form method="post" name="form">
            {% csrf_token %}
            <label for="username">Никнейм</label>
            <input type="text" name="username" placeholder=""><br>
            <label for="password">Пароль</label>
            <input type="password" name="password1" placeholder="">
            <label for="password">Повторите пароль</label>
            <input type="password" name="password2" placeholder="">
            <button type='submit' class="btn btn-info">Зарегистрироваться</button>
            {{ form.errors }}
        </form>


    </div>
{% endblock %}